.image-slider {
  position: relative;
  .slider-nav {
    z-index: 100;
    width: 100%;
    height: calc(100% - 6px);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right, .left {
      width: 30%;
      height: 100%;
      transition: opacity 200ms linear 0s;
      cursor: pointer;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }
    .right {
      background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    }
    .left {
      background: linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    }
  }
  .slider-bullets {
    position: absolute;
    bottom: calc(var(--grid-gap) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .bullet {
      width: 0.4375rem;
      height: 0.4375rem;
      margin: 0 0.4375rem;
      background: var(--challenge-black);
      opacity: 0.5;
      border-radius: 50%;
      @extend %transition;
      cursor: pointer;
      &.active {
        opacity: 1;
        scale: 1.5;
      }
    }
  }
}
